.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 50%;
    color: #bebebe;
    align-items: center;
    margin-left: 30%;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background-color:#ebecfe;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}